@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&family=Montserrat:wght@400;700&family=Pacifico&family=Open+Sans:wght@400;700&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lobster: "Lobster", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-pacifico: "Pacifico", cursive;
  --font-open-sans: "Open Sans", sans-serif;
}
